<% include ../partials/header %>

<div class="ui container">
    <h2 class="ui center aligned icon header">
      <i class="circular users icon"></i>
      Perfil de <em></rm><%=user.username%></em>
    </h2>
    
    <div class="ui centered card">
        <div class="image">
            <img src="<%=user.avatar%>" alt="user profile image" id="avatar">
        </div>
        <div class="content">
            <a class="header"><%=user.firstName%></a>
        <div class="meta">
            <span class="date">Miembro desde 2018</span>
        </div>
        <div class="description">
            <%=user.about%>
        </div>
      </div>
      <div class="extra content">
        <a><i class="user icon"></i>5 Reportes</a>
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <br><br><a href="/users/<%= user._id%>/edit" class="ui negative basic button mini">Editar</a>
        <% } %>
      </div>
    </div>
</div>


<% include ../partials/footer %>