<% include ../partials/header %>

<h3>Perfil de <%=user.username%></h3>
<div class="row">
    <div class="ui centered card">
        <div class="image">
            <img src="<%=user.avatar%>" alt="user profile image" id="avatar">
        </div>
        <div class="content">
            <a class="header"><%=user.firstName%></a>
        <div class="meta">
            <span class="date">Miembro desde 2018</span>
        </div>
        <div class="description">
            <%=user.about%>
        </div>
      </div>
      <div class="extra content">
        <a><i class="user icon"></i>5 Reportes</a>
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <a href="/users/<%= user._id%>/edit" class="ui negative basic button">Editar</a>
        <% } %>
      </div>
    </div>
</div>


<% include ../partials/footer %>