<% include ../partials/header %>

<div class="ui special cards">
    <div class="ui centered card">
        <div class="image">
            <img src=<%= hospital.logo %> alt="Logo Hospital">
        </div>
        <div class="content">
            <a class="header"><%= hospital.name%></a>
            <div class="meta">
                <span><%= hospital.address%></span>
            </div>
            <div class="description">
                <br><strong>Promedio de Espera: </strong><%= hospital.wait%> minutos
                <br><strong>Capacidad en Urgencias: </strong><%= hospital.capacity%> camas
                <br><em>Perfil creado por: <a href="/users/<%= hospital.alias.id%>"><%= hospital.alias.username%></a></em>
            </div>
        </div>
        <div class="extra content">
            <a>
              <i class="user icon"></i>
              12 reportes 
            </a>
            <a href="/facilities/<%= hospital._id%>/report/new" class="ui right floated basic green button">Nuevo Reporte</a>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <a class="ui basic gray button" href="/facilities">Regresar</a>
                <% if(currentUser && hospital.alias.id.equals(currentUser.id) || currentUser && currentUser.isAdmin){ %>
                        <a class="ui basic orange button" href="/facilities/<%= hospital._id%>/edit">Editar</a>
                <% } %>
            </div>
        </div>
    </div>
    <div id="map" class="ui centered card"></div>
</div>

<div class="container">
    <hr>
</div>

<div class="ui four column doubling stackable grid container">
    <% hospital.reports.forEach(function(report){ %> 
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="header"><a href="/users/<%=report.alias.id%>"><%=report.alias.username%></a></div>
                    <div class="meta"><%=report.created.toDateString()%></div>
                    <div class="description">
                        <p>Triage: <%=report.triageLevel%></p>
                        <p>Hora Llegada: <%=report.arrivalTime%></p>
                        <p>Hora Visita Médica: <%=report.seenTime%></p>
                        <p>Comentarios: <%=report.comments%></p>
                    </div>
                </div>
                <% if(currentUser && report.alias.id.equals(currentUser.id) || currentUser && currentUser.isAdmin){ %>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <a class="ui basic orange button" href="/facilities/<%= hospital._id%>/report/<%= report._id%>/edit">Editar</a>
                            <form id="delete-form" action="/facilities/<%= hospital._id%>/report/<%= report._id%>?_method=DELETE" method="POST">
                                <input type="submit" class="ui basic red button" value="Delete">
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    <% }); %>
</div>

<script>
  function initMap() {
    var lat = <%= hospital.lat %>;
    var lng = <%= hospital.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= hospital.name %><br />
      <%= hospital.address %></strong>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYHRUVJDxi5PcqcbCySFLs1FEtmXtGmI4&callback=initMap&language=es&region=CO"></script>

<% include ../partials/footer %>